examples/All nodes test.json
[
    {
        "id": "b80c90b4ee3ead05",
        "type": "tab",
        "label": "All nodes test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a1d18b7b4fdbe10",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "◼ Stop",
        "command": "app_stop",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5d87264b6f18dcb6",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "3a1d18b7b4fdbe10"
            ]
        ]
    },
    {
        "id": "ae6f2109c0a629f1",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "► Start",
        "command": "app_start",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6552c9c4ad1aa6fe",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "ae6f2109c0a629f1"
            ]
        ]
    },
    {
        "id": "e695ad517a6118d6",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "► Start zone ",
        "command": "app_zoned_clean",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [19500,22500,22200,26200,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 410,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "425e3f6919d7459f",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "e695ad517a6118d6"
            ]
        ]
    },
    {
        "id": "a2304b3aae1fd0e4",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 1310,
        "y": 220,
        "wires": [
            [
                "0910f93d05cf7119"
            ]
        ]
    },
    {
        "id": "0910f93d05cf7119",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "⚙ Fan Power",
        "command": "set_custom_mode",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "[\n   [26234,26042,27284,26642,1],\n   [26234,26042,27284,26642,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "071f8cf5508cdda2",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "0910f93d05cf7119"
            ]
        ]
    },
    {
        "id": "8c96789268d461b1",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "◼ Stop & dock",
        "command": "app_stop_dock",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "97a87eb97d5bc987",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "8c96789268d461b1"
            ]
        ]
    },
    {
        "id": "a707e8ec74023a64",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "► Start spot",
        "command": "app_spot",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 410,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "36fb490234325cac",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a707e8ec74023a64"
            ]
        ]
    },
    {
        "id": "db9617fb15c2a356",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "❙❙ Pause",
        "command": "app_pause",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "faaa494e73ed1255",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "db9617fb15c2a356"
            ]
        ]
    },
    {
        "id": "737738286fc3cc5e",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "► Start wet",
        "command": "app_start_wet",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "x": 410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7cedb60807f52c03",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "737738286fc3cc5e"
            ]
        ]
    },
    {
        "id": "63185c8411c0a1a4",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Send vacuum to coordinates",
        "command": "app_goto_target",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "[\n   [26234,26042,27284,26642,1],\n   [26234,26042,27284,26642,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 460,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfcd3c1bd76b3c5",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[26000,26000]",
        "payloadType": "json",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "63185c8411c0a1a4"
            ]
        ]
    },
    {
        "id": "6fb42debdbf88f7a",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "b473188c586b1bf6"
            ]
        ]
    },
    {
        "id": "b473188c586b1bf6",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get sound level",
        "command": "get_sound_volume",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "28468dec6d0f7280",
        "type": "debug",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "c94882ce7bfdf5e5",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 660,
        "wires": [
            [
                "5d74d52f919fe073"
            ]
        ]
    },
    {
        "id": "5d74d52f919fe073",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "MI IO Info",
        "server": "c1966e38ba231f0c",
        "command_name": "Get current gateway",
        "command": "miIO.info",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "2edf8756e69c0980",
        "type": "comment",
        "z": "b80c90b4ee3ead05",
        "name": "Control commands",
        "info": "",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed10845ab2513809",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Dock",
        "command": "app_charge",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "340f5fb9265bf3e3",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "ed10845ab2513809"
            ]
        ]
    },
    {
        "id": "f6fc93a7a841febe",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Find me",
        "command": "find_me",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8a61a50e82050baf",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "f6fc93a7a841febe"
            ]
        ]
    },
    {
        "id": "3f4a5c6e4bd8ad1d",
        "type": "comment",
        "z": "b80c90b4ee3ead05",
        "name": "Info commands",
        "info": "",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "53c348bae2d0f12a",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "31edbf1b01e882d1"
            ]
        ]
    },
    {
        "id": "31edbf1b01e882d1",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get gateway",
        "command": "get_gateway",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "a827d5e51e1c4fcd",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get consumables status",
        "command": "get_consumable",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 900,
        "y": 180,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "170f6c362f8cb56f",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "a827d5e51e1c4fcd"
            ]
        ]
    },
    {
        "id": "569700efd104cc79",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get status",
        "command": "get_status",
        "commandType": "vacuum_cmd",
        "payload": "10",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "f1522a26aefd428b",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "569700efd104cc79"
            ]
        ]
    },
    {
        "id": "7398b2447b204b29",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get timezone",
        "command": "get_timezone",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 860,
        "y": 420,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "ce90957719a768f7",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "7398b2447b204b29"
            ]
        ]
    },
    {
        "id": "dddd810368a210e4",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get current voice",
        "command": "get_current_sound",
        "commandType": "vacuum_cmd",
        "payload": "10",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 880,
        "y": 540,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "0b190cbbeebf6141",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "dddd810368a210e4"
            ]
        ]
    },
    {
        "id": "78a2b0ea2171718e",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "87e89552345ea663"
            ]
        ]
    },
    {
        "id": "87e89552345ea663",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get serial number",
        "command": "get_serial_number",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "bb2ce787249712f1",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get fan power",
        "command": "get_custom_mode",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "[\n   [22200,23500,28000,28000,1]\n]",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 870,
        "y": 380,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "ea53cbf07048fb70",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "bb2ce787249712f1"
            ]
        ]
    },
    {
        "id": "1cd3af0cab4d1c4c",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get do not disturb",
        "command": "get_dnd_timer",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 880,
        "y": 700,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "0e333c9b417f1933",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "1cd3af0cab4d1c4c"
            ]
        ]
    },
    {
        "id": "36d55f3b6b815d77",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get timers",
        "command": "get_timer",
        "commandType": "vacuum_cmd",
        "payload": "10",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 850,
        "y": 740,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "bd8576c065793c66",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 740,
        "wires": [
            [
                "36d55f3b6b815d77"
            ]
        ]
    },
    {
        "id": "7aa131f18bf4788d",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get cleaning summary",
        "command": "get_clean_summary",
        "commandType": "vacuum_cmd",
        "payload": "10",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 890,
        "y": 780,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "0df703b9fd8730f0",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 780,
        "wires": [
            [
                "7aa131f18bf4788d"
            ]
        ]
    },
    {
        "id": "c152c33556436a0e",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get clean record",
        "command": "get_clean_record",
        "commandType": "vacuum_cmd",
        "payload": "1564760616",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 870,
        "y": 820,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "2fdef4d401952f53",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 820,
        "wires": [
            [
                "c152c33556436a0e"
            ]
        ]
    },
    {
        "id": "eed43b333db93026",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get map v1",
        "command": "get_map_v1",
        "commandType": "vacuum_cmd",
        "payload": "10",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 860,
        "y": 860,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "4865542c833bbf74",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 860,
        "wires": [
            [
                "eed43b333db93026"
            ]
        ]
    },
    {
        "id": "a46e3eb74b0aaf0c",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 900,
        "wires": [
            [
                "6201a832b45d0407"
            ]
        ]
    },
    {
        "id": "6201a832b45d0407",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get log upload status",
        "command": "get_log_upload_status",
        "commandType": "vacuum_cmd",
        "payload": "80",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "418a90639bafcf2f",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "a505882eab39714e"
            ]
        ]
    },
    {
        "id": "a505882eab39714e",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get sound progress",
        "command": "get_sound_progress",
        "commandType": "vacuum_cmd",
        "payload": "",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 880,
        "y": 500,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "b35bced81f7cb3ff",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "ee2537dbbabc5309"
            ]
        ]
    },
    {
        "id": "ee2537dbbabc5309",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "⚙ Set sound level",
        "command": "change_sound_volume",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ef958041404f9eae",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 940,
        "wires": [
            [
                "eb546c3958fbd6ac"
            ]
        ]
    },
    {
        "id": "eb546c3958fbd6ac",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get carpet mode",
        "command": "get_carpet_mode",
        "commandType": "vacuum_cmd",
        "payload": "80",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 880,
        "y": 940,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "9b3512d172b2b710",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 980,
        "wires": [
            [
                "981f91b7a81b6166"
            ]
        ]
    },
    {
        "id": "981f91b7a81b6166",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get modes",
        "command": "get_fw_features",
        "commandType": "vacuum_cmd",
        "payload": "80",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 860,
        "y": 980,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "9baa288973251e0c",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "91b4a62b1bbd8319"
            ]
        ]
    },
    {
        "id": "91b4a62b1bbd8319",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "ⓘ Get locale",
        "command": "app_get_locale",
        "commandType": "vacuum_cmd",
        "payload": "80",
        "payloadType": "num",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 850,
        "y": 1020,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "13ac351a78158891",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "ee2537dbbabc5309"
            ]
        ]
    },
    {
        "id": "72b7e607273e16aa",
        "type": "comment",
        "z": "b80c90b4ee3ead05",
        "name": "Settings commands",
        "info": "",
        "x": 1470,
        "y": 80,
        "wires": []
    },
    {
        "id": "b53125050d8a6ce8",
        "type": "comment",
        "z": "b80c90b4ee3ead05",
        "name": "Untested commands",
        "info": "",
        "x": 1480,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8c9dec5d9f04c1e",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Voice pack installation",
        "command": "dnld_install_sound",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1480,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "28c260dfaa3ec299",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Enable log upload",
        "command": "enable_log_upload",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e710e429a5d0b5b5",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Timer: update",
        "command": "upd_timer",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1460,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9acd21aecbc56f20",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Timer: remove",
        "command": "del_timer",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1460,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d98fe35e7e46817d",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "🕹 Remote control: start",
        "command": "app_rc_start",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 450,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a3868acd49ec505e",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "🕹 Remote control: stop",
        "command": "app_rc_end",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "28315ac579cf71ba",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "🕹Remote control: move",
        "command": "app_rc_move",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 450,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "813c7df8270e3b2a",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Resume zone clean",
        "command": "resume_zoned_clean",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "912f87a1bc548655",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "813c7df8270e3b2a"
            ]
        ]
    },
    {
        "id": "9c99755aa7890cef",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "⚙ Set do not disturb time",
        "command": "set_dnd_timer",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "27c9813fe6e29e83",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[23,0,8,0]",
        "payloadType": "json",
        "x": 1300,
        "y": 260,
        "wires": [
            [
                "9c99755aa7890cef"
            ]
        ]
    },
    {
        "id": "953af4432310ccf6",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "⚙ Disable do not disturb",
        "command": "close_dnd_timer",
        "commandType": "vacuum_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ad5a08777a0de382",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 1310,
        "y": 300,
        "wires": [
            [
                "953af4432310ccf6"
            ]
        ]
    },
    {
        "id": "f8597c18719db7bf",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "⚙ Test sound level",
        "command": "test_sound_volume",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6b030ad06e1eb625",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 1310,
        "y": 180,
        "wires": [
            [
                "f8597c18719db7bf"
            ]
        ]
    },
    {
        "id": "c8c9344f58cd3c55",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "d98fe35e7e46817d"
            ]
        ]
    },
    {
        "id": "83cea5dc82577e95",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "a3868acd49ec505e"
            ]
        ]
    },
    {
        "id": "329026e73e60c381",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Wet mode",
        "command": "app_wet",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 410,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9a443cbf6c83174f",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "329026e73e60c381"
            ]
        ]
    },
    {
        "id": "37420d6e216bf9c0",
        "type": "function",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "func": " var seqnum = flow.get('seq_num') || 100;\n seqnum++;\n flow.set('seq_num',seqnum);\n \n msg.payload = [\n     {\n    \"omega\":msg.payload,\n     \"velocity\":0.29,\n     \"seqnum\":seqnum,\n     \"duration\":5000\n     } \n     ] ;\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "28315ac579cf71ba"
            ]
        ]
    },
    {
        "id": "cb87094519dfa214",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-0.8",
        "payloadType": "num",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "37420d6e216bf9c0"
            ]
        ]
    },
    {
        "id": "a46b78f3f9d4f7b4",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "server": "c1966e38ba231f0c",
        "command_name": "Timer: add",
        "command": "set_timer",
        "commandType": "vacuum_cmd",
        "payload": "arguments",
        "payloadType": "vacuum_payload",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 1450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "d22b2bc74d802687",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "Reset consumables (main_brush)",
        "server": "c1966e38ba231f0c",
        "command_name": "Reset consumables",
        "command": "reset_consumable",
        "commandType": "vacuum_cmd",
        "payload": "main_brush_work_time",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 920,
        "y": 220,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "1b4b0939f0771cfe",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "d22b2bc74d802687"
            ]
        ]
    },
    {
        "id": "d901241be7b684f8",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "Reset consumables (side_brush)",
        "server": "c1966e38ba231f0c",
        "command_name": "Reset consumables",
        "command": "reset_consumable",
        "commandType": "vacuum_cmd",
        "payload": "side_brush_work_time",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "bb5d2f0529793601",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "Reset consumables (filter)",
        "server": "c1966e38ba231f0c",
        "command_name": "Reset consumables",
        "command": "reset_consumable",
        "commandType": "vacuum_cmd",
        "payload": "filter_work_time",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "afbc6a63ede07414",
        "type": "miio-roborock-command",
        "z": "b80c90b4ee3ead05",
        "name": "Reset consumables (sensor)",
        "server": "c1966e38ba231f0c",
        "command_name": "Reset consumables",
        "command": "reset_consumable",
        "commandType": "vacuum_cmd",
        "payload": "sensor_dirty_time",
        "payloadType": "str",
        "coordinates": "",
        "fan_speed": "",
        "homekit_stop_to_dock": true,
        "x": 900,
        "y": 340,
        "wires": [
            [
                "28468dec6d0f7280"
            ]
        ]
    },
    {
        "id": "6f7e59a5880793f6",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "d901241be7b684f8"
            ]
        ]
    },
    {
        "id": "a1310eb6c32cb083",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "bb5d2f0529793601"
            ]
        ]
    },
    {
        "id": "d6c4b62ff1e62486",
        "type": "inject",
        "z": "b80c90b4ee3ead05",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "afbc6a63ede07414"
            ]
        ]
    },
    {
        "id": "c1966e38ba231f0c",
        "type": "miio-roborock-server",
        "name": "Vacuum",
        "ip": "192.168.1.18",
        "token": "6c5469443267644b756c7a4f58763965",
        "polling": "5"
    }
]
