examples/Homekit.json
[{"id":"491e500d.935a","type":"homekit-service","z":"c05ecc6.d2de13","isParent":true,"bridge":"db9a2c29.30713","parentService":"","name":"Vacuum","serviceName":"Fanv2","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"RotationSpeed\":{\n        \"minStep\":25,\n        \"maxValue\":100, \n        \"minValue\":0\n    },\n    \"LockPhysicalControls\": {\n        \"maxValue\":1, \n        \"minValue\":0\n    }\n} ","x":960,"y":1340,"wires":[["18819fad.825a5"],[]]},{"id":"d36fce1d.63bf","type":"homekit-service","z":"c05ecc6.d2de13","isParent":false,"bridge":"db9a2c29.30713","parentService":"d51c3511.6ec088","name":"Battery","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":960,"y":1220,"wires":[[],[]]},{"id":"eec506e9.7ae6d8","type":"switch","z":"c05ecc6.d2de13","name":"state","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"clean_time","vt":"str"},{"t":"eq","v":"battery","vt":"str"},{"t":"eq","v":"state_text","vt":"str"},{"t":"eq","v":"in_cleaning","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":1360,"wires":[["be2dd664.12b088"],["c13778db.e9fdd8"],["2d370e9c.b9b112","4227b2ff.d8a20c"],["c236bae0.6916e8","436f142b.34d52c"],["a2f2f027.fd6c1"]]},{"id":"4227b2ff.d8a20c","type":"function","z":"c05ecc6.d2de13","name":"ChargingState","func":"var value = msg.payload.value;\n\nmsg.payload = {};\nmsg.payload.ChargingState = 'charging' === value?1:0\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload.ChargingState?'true':'false'})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1280,"wires":[["d36fce1d.63bf"]]},{"id":"c13778db.e9fdd8","type":"function","z":"c05ecc6.d2de13","name":"Battery","func":"var value = msg.payload.value;\n\nmsg.payload = {\n    \"BatteryLevel\": value,\n    \"StatusLowBattery\": value < 15 ? 1 : 0\n}\n\nnode.status({fill:\"grey\",shape:\"ring\",text:value+'%'})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1220,"wires":[["d36fce1d.63bf"]]},{"id":"73143de0.9658b4","type":"miio-roborock-event","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","outputAtStartup":true,"x":180,"y":1360,"wires":[["eec506e9.7ae6d8"]]},{"id":"c236bae0.6916e8","type":"function","z":"c05ecc6.d2de13","name":"On","func":"var value = msg.payload.value;\n\nmsg.payload = {};\nmsg.payload.Active = value;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:value?'true':'false'})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":1400,"wires":[["491e500d.935a"]]},{"id":"a2f2f027.fd6c1","type":"function","z":"c05ecc6.d2de13","name":"RotationSpeed","func":"var value = msg.payload.value;\n\nmsg.payload = {};\nmsg.payload.RotationSpeed = msg.status.fan_power_homekit;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.status.fan_power_text?msg.status.fan_power_text:value+'%'});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1460,"wires":[["917cc22a.3529a"]]},{"id":"2d370e9c.b9b112","type":"function","z":"c05ecc6.d2de13","name":"ByState","func":"var value = msg.payload.value;\n\nmsg.payload = {};\nmsg.payload.LockPhysicalControls = value==='returning'?1:0;\n\nif ([\"charging\", \"error\", \"charger-offline\", \"charger-error\", \"waiting\", \"paused\", \"shutting-down\", \"updating\", \"docking\", \"returning\"].indexOf(value)>=0) {\n    msg.payload.Active = 0;\n} \n\nnode.status({fill:\"grey\",shape:\"ring\",text:value})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1340,"wires":[["491e500d.935a"]]},{"id":"be2dd664.12b088","type":"switch","z":"c05ecc6.d2de13","name":"cleanTime > 2 hours","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"7200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":1160,"wires":[["9695260b.88d978"]]},{"id":"9695260b.88d978","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"◼ Stop","command":"app_stop","commandType":"vacuum_cmd","payload":"payload","payloadType":"msg","coordinates":"","fan_speed":"","x":960,"y":1160,"wires":[["506d9cf2.5a8424"]]},{"id":"506d9cf2.5a8424","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"Find me","command":"find_me","commandType":"vacuum_cmd","payload":"payload","payloadType":"msg","coordinates":"","fan_speed":"","x":1100,"y":1160,"wires":[[]]},{"id":"4069010d.e3483","type":"homekit-service","z":"c05ecc6.d2de13","isParent":true,"bridge":"db9a2c29.30713","parentService":"","name":"Clean","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":950,"y":1740,"wires":[["ed51e37c.3df9c"],[]]},{"id":"132d6e07.40ca62","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"Clean Room","server":"94ea6795.1d1018","command_name":"► Start room cleaning","command":"app_segment_clean","commandType":"vacuum_cmd","payload":"1","payloadType":"num","coordinates":"[\n   [22200,23500,28000,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1310,"y":1740,"wires":[[]]},{"id":"ed51e37c.3df9c","type":"switch","z":"c05ecc6.d2de13","name":"on/off","property":"payload.On","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":1740,"wires":[["132d6e07.40ca62"],["f490e94a.6d0d48"]]},{"id":"59e66769.a79448","type":"homekit-service","z":"c05ecc6.d2de13","isParent":true,"bridge":"db9a2c29.30713","parentService":"","name":"Clean","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":950,"y":1800,"wires":[["1bcdd285.1ddffd"],[]]},{"id":"1bcdd285.1ddffd","type":"switch","z":"c05ecc6.d2de13","name":"on/off","property":"payload.On","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":1800,"wires":[["8da38109.f74c9"],["f490e94a.6d0d48"]]},{"id":"f97ba9c.68c5058","type":"homekit-service","z":"c05ecc6.d2de13","isParent":true,"bridge":"db9a2c29.30713","parentService":"","name":"Clean","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":950,"y":1860,"wires":[["d291618d.c3761"],[]]},{"id":"d291618d.c3761","type":"switch","z":"c05ecc6.d2de13","name":"on/off","property":"payload.On","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":1860,"wires":[["dbf09c0e.1062b"],["f490e94a.6d0d48"]]},{"id":"dbf09c0e.1062b","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"Clean Hall","server":"94ea6795.1d1018","command_name":"► Start room cleaning","command":"app_segment_clean","commandType":"vacuum_cmd","payload":"3","payloadType":"num","coordinates":"[\n   [19000,26200,22200,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1310,"y":1860,"wires":[[]]},{"id":"8da38109.f74c9","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"Clean Kitchen","server":"94ea6795.1d1018","command_name":"► Start room cleaning","command":"app_segment_clean","commandType":"vacuum_cmd","payload":"2","payloadType":"num","coordinates":"[\n   [19500,22500,22200,26200,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1320,"y":1800,"wires":[[]]},{"id":"436f142b.34d52c","type":"function","z":"c05ecc6.d2de13","name":"RoomCleaning","func":"var value = msg.payload.value;\nnode.status({fill:\"grey\",shape:\"ring\",text:value?'true':'false'})\n\nif (value) return null;\n\nmsg.payload = {};\nmsg.payload.On = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1520,"wires":[["4069010d.e3483","59e66769.a79448","f97ba9c.68c5058","864447bb.cf7f48","19f0f1d6.1d07ce","df6c3f93.26ffc"]]},{"id":"18819fad.825a5","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"homekit","command":"homekit","commandType":"homekit_cmd","payload":"payload","payloadType":"msg","coordinates":"[\n   [26234,26042,27284,26642,1],\n   [26234,26042,27284,26642,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1300,"y":1340,"wires":[[]]},{"id":"864447bb.cf7f48","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"ⓘ Get consumables status","command":"get_consumable","commandType":"vacuum_cmd","payload":"arguments","payloadType":"vacuum_payload","coordinates":"[\n   [22200,23500,28000,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1020,"y":1460,"wires":[["c70e06b3.d015b8","77bd766e.767268","d041e6c2.155ac8","628cbf8b.7e6d1"]]},{"id":"c70e06b3.d015b8","type":"function","z":"c05ecc6.d2de13","name":"MainBrush","func":"msg.payload = (100-(msg.payload[0]['main_brush_work_time']/1080000*100)).toFixed(1);\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+'%'})\n\n\nmsg.payload = {\n    \"FilterChangeIndication\":msg.payload<20?1:0,\n    \"FilterLifeLevel\":msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1460,"wires":[[]]},{"id":"77bd766e.767268","type":"function","z":"c05ecc6.d2de13","name":"SideBrush","func":"msg.payload = (100-(msg.payload[0]['side_brush_work_time']/720000*100)).toFixed(1);\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+'%'})\nmsg.payload = {\n    \"FilterChangeIndication\":msg.payload<20?1:0,\n    \"FilterLifeLevel\":msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1460,"wires":[[]]},{"id":"d041e6c2.155ac8","type":"function","z":"c05ecc6.d2de13","name":"MainFilter","func":"msg.payload = (100-(msg.payload[0]['filter_work_time']/540000*100)).toFixed(1);\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+'%'})\nmsg.payload = {\n    \"FilterChangeIndication\":msg.payload<20?1:0,\n    \"FilterLifeLevel\":msg.payload\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":1460,"wires":[[]]},{"id":"628cbf8b.7e6d1","type":"function","z":"c05ecc6.d2de13","name":"Sensors","func":"msg.payload = (100-(msg.payload[0]['sensor_dirty_time']/108000*100)).toFixed(1);\n\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+'%'})\nmsg.payload = {\n    \"FilterChangeIndication\":msg.payload<20?1:0,\n    \"FilterLifeLevel\":msg.payload\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1460,"wires":[[]]},{"id":"af84a83a.e3cb68","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"ⓘ Get cleaning summary","command":"get_clean_summary","commandType":"vacuum_cmd","payload":"10","payloadType":"str","coordinates":"","fan_speed":"","homekit_stop_to_dock":true,"x":1010,"y":1520,"wires":[["45a23712.0ee9d8","b433c8bc.761158","85bf48e8.d7dff8","2df7e832.540058"]]},{"id":"45a23712.0ee9d8","type":"function","z":"c05ecc6.d2de13","name":"Total time","func":"msg.payload = (msg.payload[0]/60/60).toFixed(0);\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+' hours'})\n\nreturn null;","outputs":1,"noerr":0,"x":1260,"y":1520,"wires":[[]]},{"id":"b433c8bc.761158","type":"function","z":"c05ecc6.d2de13","name":"Total area","func":"msg.payload = (msg.payload[1]/1000000).toFixed(0);\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload+' m2'})\n\nreturn null;","outputs":1,"noerr":0,"x":1420,"y":1520,"wires":[[]]},{"id":"85bf48e8.d7dff8","type":"function","z":"c05ecc6.d2de13","name":"Total cleanings","func":"msg.payload = msg.payload[2];\nnode.status({fill:\"grey\",shape:\"ring\",text:msg.payload})\n\nreturn null;","outputs":1,"noerr":0,"x":1600,"y":1520,"wires":[[]]},{"id":"fc436946.cfcfc8","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"ⓘ Get room mapping","command":"get_room_mapping","commandType":"vacuum_cmd","payload":"1","payloadType":"num","coordinates":"[\n   [22200,23500,28000,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1660,"y":1740,"wires":[["6fd2f5a2.559a6c"]]},{"id":"48fbbe57.eb862","type":"inject","z":"c05ecc6.d2de13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1515,"y":1740,"wires":[["fc436946.cfcfc8"]],"l":false},{"id":"6fd2f5a2.559a6c","type":"debug","z":"c05ecc6.d2de13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1850,"y":1740,"wires":[]},{"id":"d071f29.178761","type":"comment","z":"c05ecc6.d2de13","name":"click to get room IDs","info":"","x":1570,"y":1700,"wires":[]},{"id":"ccda42d5.200e","type":"comment","z":"c05ecc6.d2de13","name":"Room cleaning for gen3","info":"","x":1340,"y":1700,"wires":[]},{"id":"eb0c4f05.2f1b","type":"comment","z":"c05ecc6.d2de13","name":"Zone cleaning for gen2","info":"","x":1340,"y":1960,"wires":[]},{"id":"19f0f1d6.1d07ce","type":"homekit-service","z":"c05ecc6.d2de13","isParent":true,"bridge":"db9a2c29.30713","parentService":"","name":"Clean","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":"","cameraConfigMaxWidth":"","cameraConfigMaxHeight":"","cameraConfigMaxFPS":"","cameraConfigMaxBitrate":"","cameraConfigVideoCodec":"","cameraConfigAudioCodec":"","cameraConfigAudio":false,"cameraConfigPacketSize":"","cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"","cameraConfigMapAudio":"","cameraConfigVideoFilter":"","cameraConfigAdditionalCommandLine":"","cameraConfigDebug":false,"cameraConfigInterfaceName":"","characteristicProperties":"{}","x":950,"y":2000,"wires":[["d8959c54.fa225"],[]]},{"id":"d8959c54.fa225","type":"switch","z":"c05ecc6.d2de13","name":"on/off","property":"payload.On","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":2000,"wires":[["e201d846.e7a8a8"],["f490e94a.6d0d48"]]},{"id":"e201d846.e7a8a8","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"Clean Zone","server":"94ea6795.1d1018","command_name":"► Start zone","command":"app_zoned_clean","commandType":"vacuum_cmd","payload":"arguments","payloadType":"vacuum_payload","coordinates":"[\n   [19000,26200,22200,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1310,"y":2000,"wires":[[]]},{"id":"f490e94a.6d0d48","type":"function","z":"c05ecc6.d2de13","name":"","func":"if (msg.hap.context === undefined) {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1255,"y":1660,"wires":[["1458d840.0e4748"]],"l":false},{"id":"1458d840.0e4748","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"Dock","command":"app_charge","commandType":"vacuum_cmd","payload":"1","payloadType":"num","coordinates":"[\n   [22200,23500,28000,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1350,"y":1660,"wires":[[]]},{"id":"917cc22a.3529a","type":"rbe","z":"c05ecc6.d2de13","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":795,"y":1460,"wires":[["491e500d.935a"]],"l":false},{"id":"3b18eae0.6a0e36","type":"function","z":"c05ecc6.d2de13","name":"","func":"var data = msg.payload[0];\n\nvar header = 'Cleaning completed:'\nif (data[7] == 3) header = 'Room cleaning completed:';\nelse if (data[7] == 2) header = 'Zone cleaning completed:';\nelse if (data[7] == 1) header = 'Full cleaning completed:';\n\nmsg.payload = \"🧹 \"+header+\"\\n\";\nmsg.payload += \"Start: \" + new Date(data[0]*1000).toLocaleString() + \"\\n\";\nmsg.payload += \"Finish: \" + new Date(data[1]*1000).toLocaleString() + \"\\n\";\nmsg.payload += \"Time: \" + Math.ceil(data[2]/60) + \" min\\n\";\nmsg.payload += \"Square: \" + (data[3]/1000000).toFixed(2) + \" m²\\n\";\nreturn [ msg ];\n\n\n// -\t1497163727\tStart time (unix timestamp)\t\n// -\t1497165195\tEnd time (unix timestamp)\t\n// -\t1468\tCleaning duration (in s)\t\n// -\t22902500\tArea (in cm²)\t\n// -\t0\tErrors??\t\n// -\t1\tCompleted (0=no, 1=yes)\t\n// -\t2\tUnknown\ts5e\n// -\t3\tMode (1=full, 2=zone, 3=room)\ts5e\n// -\t60\tUnknown\ts5e","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1495,"y":1580,"wires":[["fa039d91.59c8a"]],"l":false},{"id":"2df7e832.540058","type":"change","z":"c05ecc6.d2de13","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3][0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1215,"y":1580,"wires":[["fed9484.f325ab8"]],"l":false},{"id":"df6c3f93.26ffc","type":"switch","z":"c05ecc6.d2de13","name":"","property":"status.in_cleaning","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":855,"y":1520,"wires":[["af84a83a.e3cb68"]],"l":false},{"id":"fed9484.f325ab8","type":"miio-roborock-command","z":"c05ecc6.d2de13","name":"","server":"94ea6795.1d1018","command_name":"ⓘ Get clean record","command":"get_clean_record","commandType":"vacuum_cmd","payload":"payload","payloadType":"msg","coordinates":"[\n   [22200,23500,28000,28000,1]\n]","fan_speed":"","homekit_stop_to_dock":true,"x":1350,"y":1580,"wires":[["3b18eae0.6a0e36"]]},{"id":"fa039d91.59c8a","type":"debug","z":"c05ecc6.d2de13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1580,"wires":[]},{"id":"db9a2c29.30713","type":"homekit-bridge","z":"","bridgeName":"Node-Red-macos2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"94ea6795.1d1018","type":"miio-roborock-server","z":"","name":"Vacuum","ip":"192.168.0.11","token":"50424a354c7a62566d5055465764516c","polling":"5"}]